/*Import external font*/
@import url(https://db.onlinewebfonts.com/c/1242935f4347ce327fea3a0da2874cfc?family=Vulf+Sans);

:root {
    /*Add variables here to use site-wide, such as colours*/
    --primary: rgb(102 51 238);
    --accent: rgb(142 100 255);
    --white: rgb(255 250 255);
    --black: rgb(1 3 20);
    --light: rgb(56 58 77);
    --dark: rgb(23 24 37);
    --blur: rgba(76, 78, 97, 0.3);
    --animation-speed: 0.35s;
}

html {
    background-color: rgb(0,0,0);
    color: var(--white);
    font-family: 'Vulf Sans';
    font-size: 1rem;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: 700ms startColourFadeAnim 100ms linear forwards;
}
@keyframes startColourFadeAnim{
    to {
        background-color: var(--black);
    }
}
html::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    background-color: var(--black);
    animation: 700ms startFadeInAnim 100ms linear forwards;
}
@keyframes startFadeInAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    text-shadow: 0px 0px 16px transparent;
}
    a:hover {
        text-shadow: 0px 0px 16px rgb(142 100 255);
    }
    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(255 250 255);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    a:hover::before {
        transform: scaleX(1);
    }

header {
    position: fixed;
    z-index: 999999999999999;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*canvas is used for drawing vector graphics*/
canvas {
    z-index: -1;
    position: absolute;
    background: radial-gradient(130% 107.13% at 50% 10%, transparent 40%, var(--primary) 70%, var(--white) 100%);
    box-shadow: 0px 0px 20px 0px var(--white);
}

/*A section is used to cover the whole screen*/
section {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    width: 90vw;
    height: 90vh;
    margin: 15vh 5vw 15vh 5vw;
    background-color: var(--blur);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 50px 0px var(--white);
}
    article > div::-webkit-scrollbar{
        background-color: var(--dark);
        width:10px;
    }
    article > div::-webkit-scrollbar-thumb {
        background-color: transparent;
        background: radial-gradient(140% 90% at 50% 10%, var(--primary) 30%, var(--accent) 60%, var(--white) 100%);
        border-radius: 100px;
    }


h1 {
    transform: translate(0%, -12.5%);
    display: inline;
    font-size: 10rem;
    background: radial-gradient(140% 90% at 50% 10%, var(--primary) 30%, var(--accent) 60%, var(--white) 100%);
    background-clip: text;
    text-shadow: 0px 0px 32px rgba(255, 255, 255, 0.3), 0px 0px 32px rgba(0, 0, 0, 0.1);
    color: transparent;
}
h2 {
    font-size: 8rem;
    background: radial-gradient(140% 90% at 50% 10%, var(--primary) 30%, var(--accent) 60%, var(--white) 100%);
    background-clip: text;
    color: transparent;
}
h3 {
    font-size: 6rem;
    background: radial-gradient(140% 90% at 50% 10%, var(--primary) 30%, var(--accent) 60%, var(--white) 100%);
    background-clip: text;
    color: transparent;
}
h4 {
    font-size: 4rem;
    background: radial-gradient(140% 90% at 50% 10%, var(--primary) 30%, var(--accent) 60%, var(--white) 100%);
    background-clip: text;
    color: transparent;
}
/*Not actually used for headers*/
h5 {
    font-size: 2rem;
    margin: 0px 300px;
}
h6 {
    font-size: 1.5rem;
    margin: 0px 200px;
}
article > div > p {
    font-size: 1.3rem;
}