/*Main website logo*/
.mainLogo {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    height: 100px;
    position: fixed;
    transform: translate(-50%, 0%);
    animation: mainLogoAnim 1ms linear forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;
    opacity: 1;
}
@keyframes mainLogoAnim {
    to {
        opacity: 0;
        height: 50px;
    }
}
.mainLogoHeader {
    position: absolute;
    height: 50px;
    padding: 0px;
    margin-left: 20px;
    transform: translate(0%, -50%);
    animation: mainLogoHeadAnim 1ms linear forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;
    opacity: 0;
    z-index: -1;
}
@keyframes mainLogoHeadAnim {
    to {
        margin-left: -53px;
        opacity: 1;
    }
}
.mainHeaderExpansion {
    animation: headerExpansionAnim 1ms linear forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;
}
@keyframes headerExpansionAnim{
    to {
        padding-left: 60px;
    }
}

/*Index parallax*/
.graveyardArt {
    z-index: -1;
    position: absolute;
    top: 310vh;
}

/*Donate Stuff*/
.donatetextwall {
    margin-top: 200px;
}
.donatestuff {
    text-align: center;
    margin-top: 150px;
}

/*Timeline*/
.TimelineItem-track {
    display: flex;
    gap: 200vmin;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}
    .TimelineItem-track::after {
        position: absolute;
        content: '';
        background-color: var(--white);
        top: 50%;
        height: 15px;
        width: 100%;
        transform: translate(0%, -50%);
        border-radius: 0px 0px 15px 15px;
    }
    .TimelineItem-track::before {
        z-index: -1;
        filter: blur(20px) brightness(0.6);
        position: absolute;
        content: '';
        background-color: var(--white);
        top: 50%;
        height: 15px;
        width: 100%;
        transform: translate(0%, -50%);
    }

.TimelineItem {
    width: 10px;
    height: 30vh;
    border-radius: 10px;
    background-color: var(--white);
}
    .TimelineItem::before {
        content: '';
        z-index: -1;
        position: absolute;
        filter: blur(20px) brightness(0.5);
        width: 10px;
        height: 30vh;
        border-radius: 10px;
        background-color: var(--white);
    }
    .TimelineItem:nth-child(odd) {
        transform: translate(0%, -50%);
    }
    .TimelineItem:nth-child(even) {
        transform: translate(0%, 50%);
    }

.TimelineText {
    height: 100%;
}
    .TimelineItem:nth-child(odd) .TimelineText {
        transform: translate(20px, -20px);
    }
    .TimelineItem:nth-child(even) .TimelineText {
        transform: translate(20px, 10px);
    }