/*Main website logo*/
.mainLogo {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    height: 100px;
    position: fixed;
    transform: translate(-50%, 0%);
    animation: mainLogoAnim 1ms linear forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;
    opacity: 1;
}
@keyframes mainLogoAnim {
    to {
        opacity: 0;
        height: 50px;
    }
}
.mainLogoHeader {
    position: absolute;
    height: 50px;
    padding: 0px;
    margin-left: 20px;
    transform: translate(0%, -50%);
    animation: mainLogoHeadAnim 1ms linear forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;
    opacity: 0;
    z-index: -1;
}
@keyframes mainLogoHeadAnim {
    to {
        margin-left: -53px;
        opacity: 1;
    }
}
.mainHeaderExpansion {
    animation: headerExpansionAnim 1ms linear forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;
}
@keyframes headerExpansionAnim{
    to {
        padding-left: 60px;
    }
}

/*Donate Stuff*/
.donatetextwall {
    margin-top: 200px;
}
.donatestuff {
    text-align: center;
    margin-top: 150px;
}

/*Timeline*/
.TimelineBody {
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 0rem;
    overflow: hidden;
}
.TimelineItem-track {
    display: flex;
    gap: 200vmin;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* -- Prevent image highlighting -- */
}
    .TimelineItem-track::before {
        position: absolute;
        content: '';
        background-color: white;
        top: 50%;
        height: 20px;
        width: 87.75%;
        top: 50%;   
        transform: translate(0%, -50%);
    }
    .TimelineItem-track > .TimelineItem {
        width: 4vmin;
        height: 20vmin;
        object-fit: cover;
        object-position: 100% center;
        border: none;
        background-color: white;
    }
    .TimelineItem:nth-child(odd) {
        transform: translate(0%, -50%);
    }
    .TimelineItem:nth-child(even) {
        transform: translate(0%, 50%);
    }
    .TimelineItem::before {
        width: 50px;
        height: 50px;
        background-color: deeppink;
    }