/*Import external font*/
@import url(https://db.onlinewebfonts.com/c/1242935f4347ce327fea3a0da2874cfc?family=Vulf+Sans);

:root {
    /*Add variables here to use site-wide, such as the following...*/
    --primary: rgb(102 51 238);
    --accent: rgb(142 100 255);
    --white: rgb(255 250 255);
    --black: rgb(1 3 20);
    --light: rgb(56 58 77);
    --dark: rgb(23 24 37);
    --blur: rgba(76, 78, 97, 0.3);
    --animation-speed: 0.35s;
}

html {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Vulf Sans';
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: scroll;
    opacity: 0;
    animation: 700ms startFadeInAnim 100ms linear forwards;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes startFadeInAnim {
    to {
        opacity: 1;
    }
}
a{
    color:var(--accent)
}
header {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.headerArea {
    background-color: var(--blur);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    box-shadow: inset 0px 0px 4px 0px var(--blur), 0px 0px 16px 0px var(--black);
    text-align: center;
    padding: 8px;
    display: flex;
}

/*If a button is in the header*/
    .headerArea .button {
        border-radius: 0px;
        border-style: solid;
        border-color: transparent white transparent white;
        background-color: var(--blur);
    }
        .headerArea .button:first-child {
            border-radius: 25px 0px 0px 26px;
            border-color: transparent white transparent transparent;
        }
        .headerArea .button:last-child {
            border-radius: 0px 26px 26px 0px;
            border-color: transparent transparent transparent white;
        }
/*home page*/
.homepagetext{
    position: relative;
    top:100px;
    h1{
        text-align: center;
    }
}
/*General Use*/
.button {
    background-color: var(--light);
    color: white;
    padding: 12px;
    display: block;
    border-radius: 16px;
    text-decoration: none;
    transition: ease-in-out var(--animation-speed);
}
    .button:hover {
        padding: 12px 20px;
        background-color: var(--accent);
        box-shadow: 0px 0px 16px 0px var(--accent);
        text-shadow: 0px 0px 16px var(--white);
    }
    .button:active {
        padding: 12px 14px;
        background-color: var(--primary);
        box-shadow: 0px 0px 16px 0px var(--primary);
        text-shadow: 0px 0px 16px var(--white);
    }

.logo {
    position:sticky;
    top:-30%;
    width:100px;
    left:50%;
    transform: translate(-50%, 100%);
}

/*Donate Stuff*/
.donatetextwall {
    position: relative;
    top: 200px;
}
.donatestuff {
    position: relative;
    text-align: center;
    top: 150px;
}

/*news page*/
/*todo: make article titles fill all available space*/
.article {
    width: 100%;
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
}
.article p{
    position:sticky;
    left:16%;
    text-align:justify;
    text-justify:inter-word;
    margin-right:10%;
}
.article hr{
    position:sticky;
    left:15%;
}